# Node.js dependencies
/node_modules

# Log files
npm-debug.log
yarn-debug.log
yarn-error.log

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# IDE files
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db